<body>

  <header>

  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h4>ジャンル編集</h4>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-7">
          <%= form_with model:@genre, url:"/admin/customers/#{@genre.id}", local:true do |f| %>
          <p>ジャンル名</p>
          <%= f.text_field :name %>
          <%= f.submit '変更を保存', class: 'btn btn-lg btn-success' %>
        </div>
      </div>
    </div>
  </main>
</body>
